<div class="card">
    <div class="product-name">
        <p><span>{%NAME%}</span></p>
    </div>
    <div class="product-image">
        <p><span>{%IMAGE%}</span></p>
    </div>
    <div class="organic">
        <p><span>{%ORGANIC%}</span></p>
    </div>
    <div class="quantity">
        <p><span>{%QUANTITY%}</span></p>
    </div>
    <div class="product-price">
        <p><span>{%PRICE%}</span></p>
    </div>
    <a href="/product?id={%ID%}"><button class="btn btn-secondary">Details</button></a>
    <a href="/delete?id={%ID%}"><button class="btn btn-success">Delete Product</button></a>
</div>
