<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <script defer src="js/register.js"></script>
</head>
<body>
<form action="/add" id="post-form" method="post">
    <fieldset>
        <legend>Register</legend>
        <label>Username:
            <input autofocus id="username"
                   name="name" required type="text">
            <small class="form-text">{%USERNAME%}</small>
        </label><br>
        <label>Email:
            <input autofocus id="email"
                   name="email" required type="text">
            <small class="form-text">{%USERNAME%}</small>
        </label><br>
        <label>Password:
            <input id="password" name="password" required type="number">
            <small class="form-text">{%PASSWORD%}</small>
        </label><br>
        <label>Confirm Password:
            <input id="confirm_password" min="1" name="conform_password" required step="0.01" type="number">
            <small class="form-text">{%CONFIRM_PASSWORD%}</small>
        </label><br>
        <button class="btn btn-primary" id="register-btn" type="submit">Register</button>
    </fieldset>
</form>
<br>
<a href="/login">
    <button class="btn btn-primary" id="login-btn" type="button">Login</button>
</a>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
